name: Response Time CI
on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:
permissions:
  contents: write
jobs:
  response-time:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: upptime/upptime-monitor@v1
        with:
          command: "response-time"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
