name: Static Site CI
on:
  schedule:
    - cron: "0 0 * * *"
  repository_dispatch:
  workflow_dispatch:
permissions:
  contents: write
  pages: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: upptime/uptime-monitor@v1
        with:
          command: "site"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
