name: Static Site CI
on:
  schedule:
    - cron: "0 0 * * *"
  repository_dispatch:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: upptime/upptime-monitor@v1
        with:
          command: "site"
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
