name: Summary CI
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
jobs:
  summary:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: upptime/upptime-monitor@v1
        with:
          command: "summary"
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
