name: Summary CI
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
permissions:
  contents: write
jobs:
  summary:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: upptime/uptime-monitor@v1
        with:
          command: "summary"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
