name: Update Template CI
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
permissions:
  contents: write
jobs:
  update-template:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: upptime/upptime-monitor@v1
        with:
          command: "update-template"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
