name: Uptime CI
on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:
  repository_dispatch:
permissions:
  contents: write
  issues: write
jobs:
  uptime:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: upptime/uptime-monitor@v1
        with:
          command: "update"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
