name: Uptime CI
on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:
  repository_dispatch:
jobs:
  uptime:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: upptime/upptime-monitor@v1
        with:
          command: "update"
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
